body {
    margin: 0px;
    font-family: serif;
}

.header {
    background-color: #CCFFCC;
    padding: 20px 30px;
    border-bottom: 2px solid #333;
}

.main{
    background-color: #ffffff;
    /*background-image:url(DTM_image.png);*/
    background-size:cover;
    padding: 10px 40px;
    height: 800px;
    font-size: 30px;
    /*color:#ffffff;*/
}

.main h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.main h3 {
    font-size: 30px;
}

.main h4{
    font-size: 30px;
}

.main link:hover {
 background-color: rgba(255, 255, 255, 0.3);
 transition: all 0.5s;
}

li {
    font-size: 20px;
}

.footer {
    height: 200px;
}